@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
	class="btn btn-outline-primary home-button">
	PC Shop
</button>

@code {
	private void GoToHome()
	{
		NavigationManager.NavigateTo("");
	}
}
